.prew-store {
  display: flex;
  margin: auto;
  position: relative;
  padding-top: 100px;
  max-height: 700px;
}

img {
  padding: 30px;
  width: 100%;
  max-width: 2000px;
  padding-bottom: 50px;
}

.header-prew {
  color: white;
  position: absolute;
  left: 10vw;
  top: 10vw;

  h2 {
    font-size: 5vw;
    font-family: "Comfortaa", cursive;
  }
}

.container {
  max-width: 1400px;
}

.slide-item {
  background-color: white;
  height: 400px;
}
.awssld__content {
  background-color: white;
}

.slide-name {
  color: white;
  position: absolute;
  left: 10vw;
  padding: 27px;
  border-radius: 5px;
  background-color: rgba(72, 42, 0, 0.4);
  top: 9vw;
  font-size: 3vw;
}
