#PaymentForm {
    display: flex;
    margin: auto;
    padding-right: 160px;
    height: 84vh;
    align-items: center;
}

.go-to-cart {
    display: flex;
    justify-content: center;
}

.cards {
    display: contents;

}