.footer-store {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: gold;
    font-family: 'Finger Paint', cursive;


    .social-networks {
        margin: auto 50px auto auto;
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        font-size: 32px;

    }
}