.item-checout .first-column-checkout {
  width: 12%;
  padding: 0;
}

.total-user-checkout {
  margin-right: 20px;
  margin-top: 15px;
}

.container {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 89vh;
}

td {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

.clear-all-button {
  margin-top: 15px;
}
