.img-thumbnail {
  max-height: 24vw;
  object-fit: contain;
}

.btn-right {
  display: grid;
}

.col-md-12 {
  display: grid;
}

.book-name {
  height: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.price-name {
  text-align: center;
  font-size: 34px;
  text-shadow: orange 0 0 16px;
}

.itemButton {
  display: grid;
}