.prew-store {
    display: flex;
    margin: auto;
    position: relative;
    padding-top: 60px;
}

img {

    padding: 30px;
    width: 100%;
    max-width: 2000px;
    padding-bottom: 50px;
}

.header-prew {
    color: white;
    position: absolute;
    left: 10vw;
    top: 10vw;

    h2 {
        font-size: 5vw;
        font-family: 'Comfortaa', cursive;
    }
}

.container {
    max-width: 1400px;
}